# Gradlisms
.gradle
/local.properties

# Android Studio
/.idea/workspace.xml
/.idea/libraries

# OSX
.DS_Store

# Windows
Thumbs.db

# Android Applications
*.apk
*.ap_

# Android Libraries
*.aar
*.apklib

# Compiled Source
*.dex
*.class

# Outputs
/build
/captures
