<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pathsense.geofencedemo.app">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY" />
        <meta-data
            android:name="com.pathsense.android.sdk.CLIENT_ID"
            android:value="YOUR_PATHSENSE_SDK_CLIENT_ID" />
        <meta-data
            android:name="com.pathsense.android.sdk.API_KEY"
            android:value="YOUR_PATHSENSE_SDK_API_KEY" />

        <activity
            android:name=".MapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".PathsenseGeofenceDemoGeofenceEventReceiver" />
    </application>
</manifest>
